.header{
    font-family : @secondaryFont;
    position : fixed;
    top : 0px;
    left : 0px;
    right : 0px;
    height : 50px;
    background-color : rgba(118,118,118,0.8);
    color : white;
    font-size : 2.0rem;
    padding : 0px 10px;
    overflow : hidden;
    z-index: 99;
    border-bottom:3px solid rgb(221, 83, 63);
    .wrapper{
        margin : 0px 10% 0px 10%;
        height : 100%;
        width : 80%;
    }
    .logo-container{
        float : left;
        height : 100%;
        background-color : rgb(90,90,90);
        padding : 0px 8px;
        .logo{
            margin-top : 7px;
            width : auto;
            height : 70%;
        }
    }
    .topic{
        float : left;
        font-size : 2.0rem;
        padding : 0px;
        margin-top : 8px;
        margin-left : 15px;
    }
    .round{
        display: inline-block;
        width:25px;
        height:25px;
        border-radius:15px;
        line-height:25px;
        background-color:rgb(221, 83, 63); 
        text-align: center;
    }
    
}
.setting-button{
    position:fixed;
    top:0px;
    right:0px;
    cursor: pointer;
    z-index: 100;
    width: 45px;
    height: 50px;
    text-align: center;
    border-bottom:3px solid rgb(221, 83, 63);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &.active,&:hover{
        background-color : rgb(90,90,90);
    }
    img {
        margin-top:13px;
        width:23px;
        height:23px;
    }   
}
.setting-container{
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index: 97;
    background-color:rgba(90,90,90,0.5);

    form.setting-form{
        position: fixed;
        top:50%;
        left:50%;
        width:700px;
        height:300px;
        margin:-150px 0px 0px -350px;
        z-index: 98;
        background-color:rgb(90,90,90);
        padding:15px 30px 0px 30px;
        border-radius: 15px;
        border:1px solid rgb(100,100,100);
        box-shadow:10px 10px 10px rgba(80,80,80,0.5);
        h2{
            font-size: 1.7rem;
            text-align: center;
            color: white;
            border-bottom:2px solid rgb(221, 83, 63);
        }
        input.topic-field{
            width:400px;
        }
        input.round-field{
            width:50px;
            text-align: center;
        }
        button.close{
            position:absolute;
            right:0;
            top:0;
            outline: none;
            background-color: rgba(0,0,0,0);
            border: 0px solid rgba(0,0,0,0);
            font-size:1.6rem;
            color:rgb(222, 222, 222);
            cursor: pointer;
        }
        button.reset{
            font-family : 'thaisans_neue_ultltregular';
            font-size: 1.4rem;
            padding: .2em 1em;
            color: #444;
            color: rgba(0,0,0,.8);
            border: 1px solid #999;
            border: 0 rgba(0,0,0,0);
            background-color: #E6E6E6;
            text-decoration: none;
            border-radius: 2px;
            color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            background: rgb(202, 60, 60);
        }
        button.export{
            font-family : 'thaisans_neue_ultltregular';
            font-size: 1.4rem;
            padding: .2em 1em;
            color: #444;
            color: rgba(0,0,0,.8);
            border: 1px solid #999;
            border: 0 rgba(0,0,0,0);
            background-color: #E6E6E6;
            text-decoration: none;
            border-radius: 2px;
            color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            background: rgb(28, 184, 65);
        }
    }

    .radioset {
      border: 0;
      border-radius: .5em;
      background: #FFF ;

      min-width: 16em;
      max-width: 650px;

      
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          top: 60%;
          left: 12.5%;
          right: 12.5%;
          height: 6px;
          margin-top: -3px;
          background: #CCC;
          box-shadow: inset 0 3px 5px -4px #000, 0 1px #fff;
        }
      }

      li {
        display: inline-block;
        position: relative;
        width: 25%;
      }

      [type="radio"] {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
        z-index: 1;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      }

      label {
        line-height: 30px;
        padding-bottom: 40px;
        display: block;
        color: #789;
        text-shadow: 0 1px #fff, 0 -1px #eee;
        font-variant: small-caps;
        font-size:1.3rem;
        &:before,
        &:after {
          content: '';
          position: absolute;
          left: 50%;
          top: 60%;
          border-radius: 50%;
          transition: .35s cubic-bezier( 0.175, 0.885, 0.320, 1.275 ) all ; // inspired by Ladda by hakim.se
        }

        &::before {
          width: 14px;
          height: 14px;
          margin: -7px 0 0 -7px;
          border: 0 solid #CCC;
          background: #CCC;
          box-shadow: inset 0 3px 5px -4px #000, 0 2px 1px -1px #fff;
        }

        &::after {
          width: 0;
          height: 0;
          background: #fff;
        }
      }

      :checked {
        + label {
          
          &::before,
          &::after {
            transition: .4s cubic-bezier( 1, -1, 0.4, 1.4 ) all;
          }
          
          &::before {
            width: 20px;
            height: 20px;
            margin: -10px 0 0 -10px;
          }

          &::after {
            width: 10px;
            height: 10px;
            margin: -5px 0 0 -5px;
            box-shadow: inset 0 -5px 5px -5px #ccc, 0 2px 5px -2px #000;
          }
        }
      }
    }
}

.list-container{
    padding:80px 0% 0% 4%;
    min-height: 100%;
    height:auto;
    position: relative;
    transition: .4s cubic-bezier( 1, -1, 0.4, 1.4 ) padding;
    &:after{
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
    }

    &.on-search{
        padding:150px 0% 0% 4%;
    }
    .search-container{
        position:fixed;
        top:50px;
        left:0px;
        width:100%;
        text-align: center;
        display: none;
        opacity:0;
        z-index: 100;

        input.search-field{
            &:after{
                content:' ';
                background-image:url('/asset/search.png');
                background-repeat:no-repeat;
                background-position:left center;outline:0;

            }
            margin:0px;
            padding:0px;
            width:100%;
            height:50px;
            text-align: center;
            font-size:2.0rem;
        }
    }

    .list-box{
        width:30%;
        margin:0px 1% 15px 1%;
        height:70px;
        background-color:rgba(90,90,90,0.6);
        float:left;
        .detail{
            font-family : 'thaisans_neue_ultltregular';
            margin:0px;
            padding:5px;
            height:48px;
            color:white;
            font-size:1.6rem;
            background-color:rgba(50,50,50,0.6);
            overflow:hidden;
            text-overflow: ellipsis;
            position: relative;
            line-height: 21px;
            .add{
                float:left;
                width:30px;
                height:100%;
                text-align: center;
                margin-right:5px;
                padding-top: 7px;
                font-size:1.6rem;
                z-index:10;
            }
            .number{
                float:left;
                width:30px;
                height:100%;
                text-align: center;
                background: rgb(255, 200, 56); /*rgb(255, 200, 56);*/
                color:rgb(90,90,90);
                margin-right:5px;
                padding-top: 7px;
                font-size:1.6rem;
                z-index:10;
                
            }
            .score{
                float:right;
                width:30px;
                height:100%;
                text-align: center;
                background:rgb(70,70,70); /*rgb(255, 200, 56);*/
                color:rgb(83, 191, 107);
                margin-left:5px;
                padding-top: 7px;
                font-size:1.6rem;
                z-index:10;
                /*border-radius:40px;*/
            }
            .school-name{
                position: relative;
                width:100%;
                height:100%;
                div{
                    position: absolute;
                    top:0px;
                    left:30px;
                    right:38px;
                    bottom:0px;
                    
                }
                input{
                    width:100%;
                    height:38px;
                }
            }
        }
        .manage{
            font-family : 'thaisans_neue_ultltregular';
            font-size: 1.2rem;
            color:white;

            height:22px;
            line-height: 20px;
            .little-menu{
                display:inline-block;
                img{
                    width:16px;
                    height:16px;
                    margin:2px 5px 0px 5px;
                    float:left;
                }
                cursor:pointer;
            }
            .plus{
                float:right;
                width:19px;
                height:19px;
                margin:1px 5px 0px 0px;
                cursor:pointer;
            }
            .minus{
                float:right;
                width:19px;
                height:19px;
                margin:1px 5px 0px 0px;
                cursor:pointer;
            }
        }
       
    }
}
