/**
 * This is the main application stylesheet. It should include or import all
 * stylesheets used throughout the application as this is the only stylesheet in
 * the Grunt configuration that is automatically processed.
 */


/**
 * First, we include the Twitter Bootstrap LESS files. Only the ones used in the
 * project should be imported as the rest are just wasting space.
 */

/*@import '../../vendor/bootstrap/less/bootstrap.less';
*/

/**
 * This is our main variables file. We must include it last so we can overwrite any variable
 * definitions in our imported stylesheets.
 */

@import './variables.less';


/**
 * Typography
 */

@defaultFont : 'thaisans_neue_ultltregular';
@secondaryFont : 'thaisans_neue_lightregular';
* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(fonts/Roboto-Regular.woff) format('woff');
}

code, pre, .pre {
  padding: 5px;
  margin: 10px 0;
  background-color: #EFEFEF;
  border: 1px solid #DADADA;
  border-radius: 3px;
}

code {
  padding: 0 3px;
}

pre {
  margin: 10px 0;
  padding: 5px;
}

.page-header {
  margin-top: 60px;

  &:first-child {
    margin-top: 20px;
  }
}

h1,h2,h3,h4,h5,h6{
    font-family: @secondaryFont;
    font-weight: 500;
    margin:0px;
    padding:0px;
}
h2 {
  margin: 20px 0;
  color: #666;
}

.navbar-container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.container-fluid {
  min-width: 748px;
}

/**
 * Navigation
 */

.navbar {
  background-color: #FFF;
  small {
    font-size: 60%;
  }
}

#logo {
  width: 148px;
  height: 33px;
  background: url('../assets/logo-swu.png');
  margin: 9px 30px 0 30px;
}

html{
    font-size:62.5%;
}
body{
    background:url('../asset/background.png');
}
html,body{
    width:100%;
    height:100%;
    padding:0px;
    margin:0px;
}
form{
    .row{
        display: block;
        margin:15px 0px;
    }
}
label{
    font-family:@defaultFont;
    font-size: 1.5rem;
    color:white;
}
input{
    &[type="text"], &[type="password"], &[type="email"] {

        font-family:@defaultFont;
        font-size:1.3rem;
        margin: 0px 4px;
        padding: 1px 2px;
        display: inline-block;
        outline: none;
        border-radius: 4px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border: 1px solid #DDDDDD;
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        &:hover, &:active ,&:focus{
            box-shadow: 0 0 7px rgba(81, 203, 238, 1);
        }
        &.error{
            box-shadow: 0 0 7px rgb(221, 83, 63);
            &:hover, &:active ,&:focus{
                box-shadow: 0 0 7px rgb(221, 83, 63);
            }
        }
    }
}
/**
 * Now that all app-wide styles have been applied, we can load the styles for
 * all the submodules and components we are using.
 *
 * TODO: In a later version of this boilerplate, I'd like to automate this.
 */
@import './home.less';
@import './login.less';
