/**
 * These are the variables used throughout the application. This is where
 * overwrites that are not specific to components should be maintained.
 */

/**
 * Typography-related.
 */

@sansFontFamily: 'Roboto', sans-serif;


@border-radius-base:        1px;
@border-radius-large:       1px;
@border-radius-small:       1px;


@body-bg:                   #f0f0f0;

@grid-gutter-width:         16px;


@table-border-radius:       5px;
@bg-border-radius:			4px;

@print-box-shadow:			0px 3px 0px 0px #959595;