<!DOCTYPE html>
<html data-ng-app="SWU" data-ng-controller="AppCtrl">
    <head>
    <title ng-cloak>{{pageTitle}}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta charset="utf-8">
    <!-- inject:css -->

    <!-- endinject -->

    <!-- inject:js -->

    <!-- endinject -->

    </head>
    <body ui-view="main">
        <!-- <div >

        </div> -->
    </body>
</html>
