<header class="header">
    <div class="wrapper">
        <div class="logo-container">
            <img src="asset/logo-swu.png" class="logo">
        </div>
        <h1 class="topic">
           {{topic.name}} ครั้งที่ <div class="round">{{topic.round}}</div>
        </h1>
       
    </div>
</header>
<div class="setting-button" ng-class="{active:popupFlag}" ng-click="popupFlag = !popupFlag">
    <img src="asset/setting.png" class="logo" >
</div>
<div class="setting-container" popup="popupFlag" ng-keypress="$event.stopPropagation();">
    <form class="setting-form">
        <button class="close" ng-click="popupFlag = !popupFlag">&times;</button>
        <h2>ตั้งค่าข้อมูล</h2>
        <div class="row">
            <label>ชื่อโครงการ  </label>
            <input type="text" class="topic-field" ng-model="topic.name">
            <label>ครั้งที่  </label>
            <input type="text" class="round-field" ng-model="topic.round">
        </div>
        <div class="row">
            <label>การแสดงผลรายชื่อโรงเรียน</label>
            <fieldset class="radioset">
                <ul>
                    <li>
                        <input type="radio" ng-init="sortType='id'"ng-model="sortType" name="type1" value="id" checked ><label for="type1">ลำดับแรกไปท้าย</label>
                    </li>
                    <li>
                        <input type="radio" ng-model="sortType" name="type2" value="score" ><label for="type2">คะแนนน้อยไปมาก</label>
                    </li>
                    <li>
                        <input type="radio" ng-model="sortType" name="type2" value="-score" ><label for="type2">คะแนนมากไปน้อย</label>
                    </li>
                </ul>
            </fieldset>

           
        </div>
        <div class="row">
            <button type="button" ng-csv="schools" filename="export.csv" csv-header="['id', 'name', 'score']"text-delimiter="'" class="export">เก็บข้อมุล</button>
            <button type="button" ng-click="reset()" class="reset" >ล้างข้อมูล</button>
            
        </div>
    </form>
</div>
<div class="list-container" type-search="search" >
    <div class="search-container" ><input type="text" class="search-field"  ng-model="search" ng-keypress="$event.stopPropagation();"></div>
    <div list-box='school' school-list="schools" school-index="key" ng-init="school.edit=false;" ng-repeat="(key,school) in schools | filter:search:strict | orderBy:sortType"></div>

   <div class="list-box" ng-keypress="$event.stopPropagation();">
    <h4 class="detail">
        <div class="number">
            {{schools.length+1}}
        </div>
        <div class="score">
           0
        </div>
        <div class="school-name ng-binding">
            <div class="ng-scope">
                <input type="text" class="school-name-field" ng-model="newSchoolName" placeholder=" ชื่อโรงเรียน">
            </div>
        </div>
    </h4>
    <div class="manage">
        <div class="little-menu" data-ng-click="addNewSchool()" >
            <img src="asset/add.png">
            เพิ่มข้อมูล
        </div>
    </div>
</div>
</div>