<div class="list-box" >
    <h4 class="detail">
        <div class="number">
            {{schoolData.id}}
        </div>
        <div class="score">
            {{schoolData.score}}
        </div>
        <div class="school-name">{{schoolData.name}}</div>

    </h4>
    <div class="manage">
        <div class="little-menu" data-ng-click="edit()" ng-show="!schoolData.edit">
            <img src="asset/edit.png"  >
            แก้ไขข้อมูล
        </div>
        <div class="little-menu" data-ng-click="save()" ng-show="schoolData.edit">
            <img src="asset/save.png"  >
            บันทึก
        </div>
        <div class="little-menu" data-ng-click="remove()" ng-show="schoolData.edit">
            <img src="asset/trash.png"  >
            ลบข้อมูล
        </div>

        <img src="asset/plus.png" class="plus" data-ng-click="upScore()">
        <img src="asset/minus.png" class="minus" data-ng-click="downScore()">
    </div>
</div>